* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

body {
background: #606c88;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar-header > a {
    color: white;
}

.navbar-nav > li {
    color: white;
}
.top-section {
    margin: 0 auto;
    text-align: center;
}

.row1 {
    margin: 0 auto;
    margin-top: 3em;
    text-align: center;
}

.row2 {
    margin-top: 3em;
}

.row3 {
    margin-top: 3em;
}

h1 {
    color: white;
    margin: 0 auto;
}

h2 {
    color: white;
}

.sloby5 {
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 50%;
}

.sloby2 {
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 50%;
}

.slobyTrack {
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 50%;
}

.beb_dance {
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 50%;
}